.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
}
.divLowBtn {margin-top: 60px;}
.transformWindow {
  height: 300px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;

}
#puroModel {overflow: hidden;}
#iframePuro {border:0px; }

.fullSize {width:100%; height:100%}

.toolBtn {margin-left: 14px; height: 25px; margin-top: 1px; text-align: center; position: absolute;padding:0;}
.TransformComponent-module_container__3NwNd {width: 100% !important;}
.react-transform-element {width: 100% !important;}
.btnModal {margin: 2px; margin-top: 8px;}
.inputName {margin-bottom: 15px;}
.btnEnd {margin: 2px;}
.questionPart {margin-top: 30px; max-width: 75%;}
.cardinalitySelect {text-align-last:center;}
.container {max-width: 100%;}
.optionButtons {position: absolute; margin-left: 50px; left: 65%; }
.changeAlert {margin-top: 15px; display: none;}
.questionTitle {white-space: pre-wrap; font-size: 20px;}
.questionTitle:first-line {font-size: 28px;}
